body{

background:#0f172a;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:40px;
border-radius:15px;
width:600px;
text-align:center;

}

.mathbox{

background:white;
color:black;
padding:20px;
font-size:30px;
border-radius:10px;
margin-bottom:20px;

}

button{

padding:15px 25px;
font-size:18px;
background:#22c55e;
border:none;
border-radius:10px;
color:white;
cursor:pointer;

}

#resultado{

font-size:30px;
margin-top:20px;

}
.paso{

opacity:0;
transform:translateY(10px);
animation:aparecer 0.5s forwards;
margin-bottom:12px;

}

@keyframes aparecer{

to{
opacity:1;
transform:translateY(0);
}

}
.error{

color:#ef4444;
margin-top:12px;
text-align:center;
font-size:14px;

}
/* RESPONSIVE MOBILE */

@media (max-width:900px){

.container{
width:100%;
padding:15px;
}

.editor{
padding:20px;
}

.mathbox{
font-size:24px;
padding:15px;
}

.result{
font-size:22px;
}

}

/* MOBILE */

@media (max-width:600px){

.header{
padding:0 15px;
}

.logo{
font-size:18px;
}

.keyboard{
grid-template-columns:repeat(4,1fr);
gap:6px;
}

.key{
padding:12px;
font-size:14px;
}

.solve{
font-size:15px;
padding:12px;
}

.result{
font-size:20px;
}

.steps{
font-size:14px;
}

.limites{
flex-direction:column;
}

.limites input{
width:100%;
}

}
input, textarea, button {
font-size:16px;
}

/* IPHONE RESPONSIVE */

@media (max-width:430px){

body{
padding:10px;
}

.container{
width:100%;
}

.editor{
padding:15px;
}

.mathbox{
font-size:22px;
padding:12px;
min-height:60px;
}

.result{
font-size:20px;
}

.steps{
font-size:14px;
}

.solve{
padding:14px;
font-size:15px;
}

.keyboard{
grid-template-columns:repeat(4,1fr);
gap:6px;
}

.key{
padding:12px;
font-size:14px;
}

.limites{
flex-direction:column;
}

.limites input{
width:100%;
}

}
.keyboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(70px,1fr));
gap:8px;
}
.mathbox{
overflow-x:auto;
}
